article {
  @include span-columns(12);
  @include pad(modular-scale(3));

  position: relative;

  &::after {
    background-color: $text-color;
    bottom: 0;
    content: "";
    height: modular-scale(-2);
    left: calc(50% - 1em);
    position: absolute;
    width: modular-scale(3);
  }
}

.article-infos {
  background-color: darken($sidebar-bg-color, 12%);
  color: lighten($main-bg-color, 2%);
  display: table;
  font-family: $side-font-family;
  font-size: modular-scale(0);
  letter-spacing: modular-scale(-7);
  margin-bottom: modular-scale(1);
  text-transform: uppercase;
  padding: modular-scale(-5) modular-scale(-1);

  .article-tag {
    display: table-cell;
    font-weight: 400;
    padding-right: modular-scale(-3);
  }

  .article-date {
    display: table-cell;
    font-weight: 200;
  }
}

.article-content {
  @include span-columns(12);

  font-family: $heading-font-family;
  font-size: modular-scale(4);
  font-weight: 700;
  line-height: modular-scale(0);
}
