/****************************************************/
/********************* SIDE BAR *********************/
/****************************************************/
.side-info {
  font-weight: 400;
  padding-top: modular-scale(2);
  text-align: center;
}

img:first-of-type {
  border-radius: 100%;
  height: 150px;
  margin: $small-spacing auto;
  width: 150px;
}

.side-info p span {
  font-family: $heading-font-family;
  font-weight: 800;
}
