/****************************************************/
/********************** COLORS **********************/

$primary-color: #e6e6fa; /*lavender*/
$secondary-color: #ffe4b5; /*mocassin*/
$third-color: #fff0f5; /*lavenderblush*/
$text-color: #191970; /*midnightblue*/
