/****************************************************/
/********************* ARTICLES *********************/
/******************* (content) *********************/
body {
  width: 100%;
  height: 100%;
}

.article-background {
  background-color: $sidebar-bg-color;
  bottom: 0;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
}

.article-wrap {
  background-color: $main-bg-color;
  margin: modular-scale(1);
  padding: modular-scale(1);
  flex: 1;

  .grid-container {
      @include span-columns(8);
      @include shift(2);

      .article-infos {
        margin-top: modular-scale(3);
      }

      .article-content {
        margin-bottom: modular-scale(-1);
      }


      .content p{
        margin-top: modular-scale(1);

          &::first-letter {
          background-color: $sidebar-bg-color;
          border-radius: 2px;
          float: left;
          font-family: $side-font-family;
          font-size: modular-scale(3);
          line-height: modular-scale(-1);
          margin-right: modular-scale(-4);
          margin-top: modular-scale(-4);
          padding: modular-scale(-4);
        }
      }

      .article-footer p {
        text-align: center;
        //padding: modular-scale(1) 0;
      }
  }
}
