/****************************************************/
/********************** FOOTER **********************/
/****************************************************/

footer .side-info {
  padding: 1% 0;
  .main-footer {
    background-color: $third-color;
    clear: both;
  }
  .article-footer {
    background-color: $primary-color;
  }
}
