/****************************************************/
/********************** FOOTER **********************/
/****************************************************/

footer {
  background-color: $third-color;
  clear: both;
  padding: 1% 0;
}
