/****************************************************/
/******************* MAIN-CONTENT *******************/
/****************************************************/

main {
  float: left;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
}

nav {
  background-color: $third-color;
  padding: 1.5%;
}
