<% blog.articles.each do |article| %>
  <article>
    <div class="article-infos">
      <p class="article-tag"><%= article.tags.join(', ') %></p>
      <time class="article-date" datetime="<%= article.date %>">
          <span class="day"> ▪ <%= article.date.strftime("%d/%m/%Y") %></span>
        </time>
    </div>

    <div class="article-content"><%= link_to article.title, "/the-unicorn-trail#{article.url}" %></a></div>
  </article>
<% end %>
