<% blog.articles.each do |article| %>
  <article>
    <p class="article-tag"><%= article.tags.join(', ') %></p>

    <div class="article-content"><%= article.title %></div>
    <time class="article-date" datetime="<%= article.date %>">
        <span class="day">Le <%= article.date.strftime("%d/%m/%Y") %></span>
    </time>
  </article>
<% end %>
